html,
body {
  padding: 0;
  margin: 0;
}

.chat-box {
  border: 1px solid #ccc;
  padding: 10px;
  height: 300px;
  overflow-y: scroll;
}

.message {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  border-radius: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.chat-container {
  flex: 1;
  overflow: hidden;
  overflow-y: auto;
  margin-top: 30px;
  max-height: calc(100vh - 90px);
  /* Adjust the max height based on the navbar and footer heights */
}

.message-sender {
  font-weight: bold;
}

.input-box {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

#message-input {
  flex: 1;
  margin-right: 10px;
}

body {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-purple {
  background-color: #36013f;
}

.text-purple {
  color: #36013f;
}

.font-anton {
  font-family: sans-serif;
}


footer {
  background-color: white;
  color: white;
  text-align: center;
  padding: 3px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.transparent-button {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  color: purple;
  text-decoration: none;
  display: inline-block;
  padding: 0;
}